/.vs/Transformations/DesignTimeBuild/.dtbcache.v2
/.vs/Transformations/v17/.futdcache.v2
/.idea/.idea.Transformations/.idea/.gitignore
/.vs/Transformations/v17/.suo
/.vs/Transformations/FileContentIndex/0e8ed131-354c-4aa5-8e39-363330f19544.vsidx
/.vs/Transformations/FileContentIndex/7ab8d3fb-b905-414b-ad44-d6f0e7f3fe3e.vsidx
/.vs/Transformations/FileContentIndex/7354fc88-5908-4496-bc30-0a79b2c6432d.vsidx
/.vs/Transformations/FileContentIndex/accd7595-6015-4ff8-a350-a25cb8c09c60.vsidx
/.idea/.idea.Transformations/.idea/encodings.xml
/.vs/Transformations/FileContentIndex/f06ada63-f8b7-4a0d-9487-5afbb22a4fc0.vsidx
/.idea/.idea.Transformations/.idea/inspectionProfiles/Project_Default.xml
/.vs/ProjectEvaluation/transformations.metadata.v7.bin
/.vs/ProjectEvaluation/transformations.projects.v7.bin
/Transformations.sln.DotSettings.user
/.idea/.idea.Transformations/.idea/vcs.xml
